__pycache__/
*.pyc
.env
.env.*
.dist/
venv/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
coverage/
*.egg-info/

node_modules/
.next/
.turbo/
.parcel-cache/

dist/
build/

.vscode/

.idea/

.DS_Store
Thumbs.db

*.log

.neo4j/

postgres_data/

minio_data/
